.about-page {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  background-image: linear-gradient(
    to bottom,
    rgb(174, 1, 126),
    rgb(122, 1, 119),
    rgb(73, 0, 106)
  );
  position: relative;

  @media only screen and (max-width: 56.25em) {
    overflow-y: scroll;
  }

  &__back-btn {
    position: absolute;
    top: 2rem;
    left: 2rem;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    fill: rgb(253, 224, 221);
    z-index: 10000;
  }

  &__image-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media only screen and (max-width: 56.25em) {
      flex-direction: column;
      margin-top: 3rem;
    }

    &--img {
      height: 50rem;
      width: 50rem;
      border-radius: 50%;
      object-fit: cover;
      margin-left: 4rem;

      @media only screen and (max-width: 56.25em) {
        margin-left: 0;
      }
    }
  }

  &__content {
    padding: 4rem;
    width: 80%;
    color: rgb(253, 224, 221);
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;

    @media only screen and (max-width: 50em) {
      font-family: "Lato", sans-serif;
      font-size: 2.3rem;
      padding: 2rem 1rem;
    }

    @media only screen and (max-width: 37.5em) {
      width: 100%;
      font-family: "Lato", sans-serif;
      font-size: 2.8rem;
      padding: 2rem 1.6rem;
    }

    &--sub {
      color: #dd3497;
      font-family: "Architects Daughter", cursive;
      font-size: 2.3rem;

      @media only screen and (max-width: 37.5em) {
        font-size: 3.2rem;
      }
    }
  }
}

.about-page::-webkit-scrollbar {
  width: 12px;
}
.about-page::-webkit-scrollbar-track {
  background-image: linear-gradient(
    to bottom,
    rgb(174, 1, 126),
    rgb(122, 1, 119),
    rgb(73, 0, 106)
  );
}
.about-page::-webkit-scrollbar-thumb {
  background-color: rgb(250, 159, 181);
  border-radius: 1.5rem;
}
