.App {
  text-align: center;
  overflow-y: hidden;
  background-image: linear-gradient(
    to right bottom,
    rgba(250, 159, 181, 0.5),
    rgba(247, 104, 161, 0.5),
    rgba(221, 52, 151, 0.5),
    rgba(174, 1, 126, 0.5),
    rgba(122, 1, 119, 0.5)
  );
}
